<li id="comment-<%= comment.id %>">
    <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
    <span class="user">
        <%= comment.user.name %></span>
    <span class="content">
        <%= link_to comment.content, micropost_path(comment) %>
        <%= image_tag comment.display_image if comment.image.attached? %>

    </span>
    <span class="timestamp">
        Posted
        <%= time_ago_in_words(comment.created_at) %> ago.
        <% if current_user?(comment.user) %>
        <%= link_to "delete", comment, method: :delete,
            data: { confirm: "You sure?" } %>
        <% end %>

    </span>

</li>
