<%= form_for(@comment) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="field">
    <%= f.text_area :content, placeholder: "Compose new comment.." %>
</div>
<%= f.submit "Send", class: "btn btn-primary" %>
<span class="image">
    <%= f.file_field :image %>
</span>
<%= f.hidden_field :micropost_id, value: @micropost.id %>
<% end %>
