<div class="panel panel-primary"style ="width :67%;margin-left:8%">
  <div class="panel-heading">
    <%if @comments.blank? %>
      <span>0 Comment</span>
    <%else%>
      <span><%=  @comments.size %>Comment</span>
    <% end %>
  </div>
  <% @comments.each do |comment| %>
<%#byebug%>
    <% if comment.user.present? %>
      <div class="panel panel-primary"style ="width :67%;margin-left:8%">
        <span> <%= comment.content%></span>
      </div>
      <div class="panel-body">
        <span class="user"><%= link_to comment.user.name, comment.user %></span>
        <%= comment.content %>
        <span class="timestamp">
          Posted <%= time_ago_in_words(comment.created_at) %> ago.
          <% if current_user?(comment.user) %>
            <%= link_to "delete", comment, method: :delete, data: { confirm: "You sure?" } %>
          <% end %>
        </span>
      </div>
    <%end%>
  <%end%>
  <%= render 'shared/comment_form' %>
</div>
